.homeWrapperseller {
  border: 1px solid red;
  flex: 80%;
  overflow-y: scroll;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5%;
}

.graphContent {
  border: 1px solid black;
  padding: 1%;
  flex: 1;
  margin-right: 20px; /* Add right margin to create space between the divs */
}

.barContent {
  flex: 1;
}

.graphContent table {
  width: 100%;
  border-collapse: collapse;
}

.graphContent th,
.graphContent td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.graphContent th {
  background-color: #b5948c83;
  font-weight: bold;
}

.graphContent tr:last-child td {
  font-weight: bold;
}
