.homeWrapper {
    border: 1px solid red;
    flex: 80%;
    overflow-y: scroll;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3fr, 1);
    gap: 20px;
}